*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    font-size: 20px;
    font-weight: 700;
    color:#FFF ;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.header{
    background-color: #FFF8F3;;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
}

/* navigation design */

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-tittle{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
   align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;;
}
.text-primary{
    color: #FD6E0A;
}


/* Banner Styles */

.banner{
    padding: 0 200px;  
    display: flex;
    align-items: center;
}

.banner-tittle{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-sub-tittle{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;

}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
 
/* about section design */

.about{
    
    margin: 130px 230px;
    border-radius: 10px;
    background-color: #FFF8F3;
    border: 1px solid #FFF8F3;
    padding: 210px 150px;
    text-align: center;
}
.section-tittle{
    
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 900px;
    color: #181818;

}
.section-description{
    text-align: center;
    padding-bottom: 30px;
    font-size: 18px;
    color: #757575;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-tittle{
    font-size: 20px;
    color: var(--dark-03, #757575) 
}
.info-description{
    color: var(#111010);
    font-size: 20px;
    font-weight: 700;
}
/* What I Do Section */
.what-i-do{
    
    border-radius: 10px;
    background-color: #FFF8F3;
    border: 1px solid #FFF8F3;
    padding: 0px 150px;
    text-align: center;
}

.skills-container{
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
}
.skill{
    text-align: left;
    margin-right: 57px;
}
.skill-tittle{
    padding-top: 40px;
    padding-bottom: 20px;
}
.skill-description{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    color: var(--dark-03, #757575);
    font-size: 16px;
    text-align: left;

}