*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    font-size: 20px;
    font-weight: 700;
    color:#FFF ;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.header{
    background-color: #FFF8F3;;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
    
}

/* navigation design */

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-tittle{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
   align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;;
}
.text-primary{
    color: #FD6E0A;
}


/* Banner Styles */

.banner{
    padding: 0 200px;  
    display: flex;
    align-items: center;
}

.banner-tittle{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-sub-tittle{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;

}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
 
main{
    margin: 130px 230px;
}

/* about section design */


.about{
    
    
    border-radius: 10px;
    background-color: #FFF8F3;
    border: 1px solid #FFF8F3;
    text-align: center;
}

.section-tittle{
    padding-top: 130px;
    font-size: 35px;
    font-weight: 700px;
    color: #181818;
    text-align: center;

}

.section-description{
    text-align: center;
    padding: 30px 150px;
    font-size: 18px;
    color: #757575;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    padding: 30px 150px 130px 150px;
}
.info-tittle{
    font-size: 20px;
    color: var(--dark-03, #757575) 
}
.info-description{
    color: var(#111010);
    font-size: 20px;
    font-weight: 700;
}
/* What I Do Section */


.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}


.skills-container{
    display: flex;
    gap: 24px;
}
.skill-tittle{
    font-size: 20px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 20px;
}
.skill-description{
    color: #757575;
    font-size: 16px;
}

/* resume tyle */
.resume-experience-education{
    display: flex;
 }
 
 .resume-tittle{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 100px;
 }   
 .resume-item{
    padding:30px 70px 30px 0px;
 }
.resume .tittle{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    
}
.resume .sub-tittle{
    
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}
.resume .description{
    color: #757575;
    padding-top: 20px;
}
.resume-button{
   margin-top: 50px;
    text-align: center;
}

/* Footer style */
.footer{
    display: flex;
    margin-top: 250px;
    background-color:#FFF8F3;
     }
a{
    text-decoration: none;
    padding-right: 25px;
}
.footer .tittle{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px;
}
.footer .description{
    color: #474747;
    padding-right: 115px;

}

/* form design */


input{
    width: 461px;
    height: 64px;
   border-radius: 5px;
}
textarea{
    width: 461px;
    height: 180px;
    border-radius: 5px;
}